body {
    margin: 0;
    font-family: "-Proxima Nova", BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
    --var-bg-leyout: #d6d2d2;
    --var-bg-job: #FFFFFF;
    --var-color-title: #3A4562;
    --var-color-inf: #878D9D;
    --var-colot-text-posted:rgba(56, 65, 93, 0.355988);
    --var-bg-buttons-three:rgba(161, 177, 219, 0.317343);
    --var-c-buttons-three:#55699E;
    --var-bg-buttons-two:rgba(255, 207, 0, 0.15);
    --var-c-buttons-two:#988B49;
}
